<Files .htaccess>
order allow,deny
deny from all
</Files>

Options +FollowSymLinks
Options All -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*).html$ index.php?page=$1 [NC,QSA,L]


#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^([^/.]+)/$ index.php?page=$1 [NC,QSA,L]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^([^/.]+).html$ index.php?page=$1 [NC,QSA,L]